@use '../mixins/responsive.scss' as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 40px;
  @include responsive(tablet) {
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include responsive(tablet) {
      flex-direction: row-reverse;
      align-items: center;
      & > * {
        width: 50%;
      }
    }
  }
  &__img {
    width: 100%;
    @include responsive(tablet) {
      flex-shrink: 0;
    }
  }
}
