@use '../mixins/responsive.scss' as *;
.footer{
    text-align: center;
    padding: 24px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-top: 2px solid var(--color-lillac);
    @include responsive (tablet){
        padding: 40px;
    }
    @include responsive (tablet){
        padding: 40px 80px 40px 80px;
    }
    &__end{
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}