@use '../mixins/responsive.scss' as *;
.testimonials{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 80px;
    @include responsive (tablet){
        gap: 40px;
        padding-top: 80px;
        text-align: center;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include responsive (tablet){
            flex-direction: row;
            gap: 24px;
        }
    }
}
.testimony{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--color-card);
    padding: 24px;
    border-radius: 8px;
    text-align: left;

    &__img{
        width: 100%;
    }
}