@use '../mixins/responsive.scss' as *;
.text{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    @include responsive (tablet){
        font-size: 1.125rem;
        line-height: 2rem;
    }
    &--l{
        font-size: 1.25rem;
    }
    &--s{
        font-size: 0.8125rem;
        line-height: 1.25rem;
        @include responsive (tablet){
            font-size: 1.125rem;
            line-height: 2rem;
        }
    }
    &--xs{
        font-size: 0.625rem;
    }
    &--white{
        color: var(--color-white);
    }
    &--orange{
        color: var(--color-orange); 
    }
    &--nunito{
        font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
    }
    &--racing{
        font-family: "Racing Sans One", sans-serif;
    }
}
