:root {
    --color-white: #EDEDED;
    --color-orange: #F66639;
    --color-lillac: #C4BACE;
    --color-background: #180E0E;
    --color-darkpurple: #2C1D3A;
    --color-opacity: rgba(144, 25, 255, 0.3);
    --color-popular: #9354D2;
    --color-hover: #B03914;
    --color-menu:#4D4848;
    --color-card: #2C1D3A;
}

/* Variables SASS */
